@font-face {
    font-family: 'Munchkin';
    font-style: normal;
    font-weight: normal;
    src: url('Munchkin.ttf') format('ttf');
}

h1,
div {
    font-family: 'Munchkin';
    font-weight: 200;
    color: black;
}